
h1{
color: orange;
 border: 5px solid orange; 
  padding: 2px; 
  border-radius: 2px; 
}


body{
  background-color: black;
}

img{
  width: 200px;
  height: 200px;
  border: 5px dotted green ; 
  padding: 9px; 
  border-radius: 200px; 
}
#pass,#submit{
 display: none; 
}































































































